.taskItem {
    border-radius: 6px 6px 0px 0px;
    filter: drop-shadow(4px 6px 15px rgba(0, 0, 0, 0.1));
}


.taskTitle {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #000000;
}

.taskDescription {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFBC33;
    border-radius: 0px 0px 6px 6px;
    padding: 14px 20px 17px 20px ;
    
}



.taskScore {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 78px;
    height: 18px;
    background-color: #5679D7;
    border-radius: 3px;
    padding: 3px 10px;

}