@import '../../../../shared/styles/base';

.imagesContainer {
    position: relative;
}

.imageTwo {
    position: absolute;
    left: 271px;
    top: 253px;
}

.imageThree {
    position: absolute;
    left: 50px;
    top: 409px;
}

.imageFour {
    position: absolute;
    left: 271px;
    top: 538px;
}