@import '../../shared/styles/base';

.contactsContainer {
    padding: 80px 50px 126px 50px;
}

.title {
    font-weight: 600;
    font-size: 30px;
    line-height: 1.23;
    text-align: center; 
    color: $accent-color;
    margin-bottom: 10px;
}

.motto {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    letter-spacing: 0.04em;
    color: $accent-color;
    margin-bottom: 40px;
}