@import '../../../../shared/styles/base';

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
}

.form {
    width: 280px;
    height: 298px;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    background-color: #FFBC33;
}

.field {
    width: 227px;
    height: 28px;
    border: none;
    border-bottom: 1px solid #FFFFFF;
    background-color: transparent;
    margin-bottom: 14px;
    outline: none;
}

.field::placeholder {
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.22;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

img {
    margin-bottom: 24px;
}

.btn {
    width: 60px;
    height: 30px;
    background-color: #FFFFFF;
    border-radius: 4px;
    border: none;
    margin: 0 auto;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.22;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.04em;
}

.input {
    @include flex(center, baseline)
}