@import '../../shared/styles/base';

.container {
    padding: 40px 50px 65px 50px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 40px;
}
.rewards {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.22;
    letter-spacing: 0.2em;
    margin-left: 15px;
}



