$accent-color: #000000;
$primary-text-color: #858598;
$white-text-color: #FAFAFA;
$alert-color: #EB5757;
$light-gray-color: #A6ABB9;
$accent-bg-color: #FFBC33;
$primary-bg-color: #E5E5E5;
$header-bg-color: #FFFFFF;

$tablet: 992px;
$mobile: 540px;
$desktop: 1200px;
