@import '../../shared/styles/base';

.container {
    padding: 62px 50px 115px 50px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.22;
    letter-spacing: 0.04em;
    color: #A6ABB9;
}

.mainInfo {
    @include flex(space-between, center)
}



