@import '../../../../shared/styles/base';

.section {
    display: flex;
}

.main {
  padding-top: 40px;
  padding-left: 140px;
  padding-right: 50px;
}

.daysList {
    width: 240px;
    height: 100vh;
    background-color: #FFBC33;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 140px;
    margin-left: 110px;
}

.tabListItem {
  display: inline-block;
  width: 190px;
  height: 42px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 6px 0px 0px 6px;
  margin-bottom: 6px;
  padding: 10px 0px 10px 27px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.22;
    letter-spacing: 0.04em;
    color: #000000;
}

.tabListActive {
    background-color: rgba(255, 255, 255, 1);
}

.curWeek {
  display: block;
}

.weekInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 94px;
}